@import "tailwindcss";

@theme {
    /* Background Image */
    --background-image-jk: url("/assets/FondoPortada.jpg");

    /* Text Colors */
    --color-youtube: #fe0000;
    --color-facebook: #0866ff;
    --color-instagram: #e4405f;
    --color-twitter: #1da1f2;
    --color-tiktok: #000000;
    --color-twitch: #6441a5;
    --color-discord: #7289da;
    --color-reddit: #ff4500;
    --color-spotify: #1db954;
    --color-pinterest: #bd081c;
    --color-threads: #000000;

    /* Background Opacity */
    --background-opacity-50: 0.5;

    /* Background Colors */
    --background-primary: var(--background);
    --background-primary-op: var(--background-op);
    --background-primary-op-2: rgba(10, 10, 10, 0.5);
    --background-active: var(--primary);

    /* General Colors */
    /* --color-primary: var(--primary); */
    --color-body: var(--primary-body);
    --color-secondary: var(--secondary-red);

    --color-primary: #d94862;
    --color-secondary: #f2a7c3;
    --color-primary-body: #121212;
    --color-secondary-body: #1f1f1f;
    --color-secondary-red: #f24495;
    --color-coral: #f2786d;
    --color-light-gray: #eaeaea;
    --color-medium-gray: #a9a9a9;
    --color-dark-gray: #303030;
    --color-neutral-gray: #4b4b4b;
    --color-golden-yellow: #d1b53b;
    --color-teal-green: #2a9d8f;
    --color-white-text: #ffffff;
    --color-text-jk: #d94862;
    --color-text-hit-jk: #b03b54;
    --color-text-hint-jk: #616161;

    /* Accent Colors */
    --accent-yellow: var(--golden-yellow);

    /* Neutral Colors */
    --neutral-gray: var(--neutral-gray);

    /* Specific Colors */
    --color-yt: #fe0000;
    --color-fb: #0866ff;
    --color-ig: #e4405f;
    --color-tt: #000000;
    --color-twitter: #1da1f2;
    --color-twitch: #6441a5;
    --color-discord: #7289da;
    --color-reddit: #ff4500;
    --color-spotify: #1db954;
    --color-pinterest: #bd081c;
    --color-threads: #000000;

    --accordion-down: accordion-down 0.2s ease-out;
    --accordion-up: accordion-up 0.2s ease-out;

    --font-lato: "Lato", sans-serif;
    --font-roboto: "Roboto";

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@font-face {
    font-family: "icomoon";
    src: url("/fonts/icomoon.eot?1u772v");
    src: url("/fonts/icomoon.eot?1u772v#iefix") format("embedded-opentype"),
        url("/fonts/icomoon.ttf?1u772v") format("truetype"),
        url("/fonts/icomoon.woff?1u772v") format("woff"),
        url("/fonts/icomoon.svg?1u772v#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ajk:before {
    content: "\e900";
}

/* Importar las fuentes locales de Lato */
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

#disqus_thread {
    @apply my-8;
    background-color: #0a0a0a !important;
    color: white !important;
}

body {
    @apply font-roboto;
}

.container {
    @apply mx-auto w-full px-4;
    max-width: 1400px;
}

.border-admin-jk {
    border: none !important;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --font-lato: "Lato", sans-serif;
    /* --color-primary: var(--primary); */
    /* --color-primary-foreground: var(--primary-foreground); */
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --accordion-down: accordion-down 0.2s ease-out;
    --accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.25);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.147 0.004 49.25);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.147 0.004 49.25);
    /* --primary: oklch(0.216 0.006 56.043); */
    --primary-foreground: oklch(0.985 0.001 106.423);
    --secondary: oklch(0.97 0.001 106.424);
    --secondary-foreground: oklch(0.216 0.006 56.043);
    --muted: oklch(0.97 0.001 106.424);
    --muted-foreground: oklch(0.553 0.013 58.071);
    --accent: oklch(0.97 0.001 106.424);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.923 0.003 48.717);
    --input: oklch(0.923 0.003 48.717);
    --ring: oklch(0.709 0.01 56.259);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.147 0.004 49.25);
    --sidebar-primary: oklch(0.216 0.006 56.043);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.97 0.001 106.424);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.923 0.003 48.717);
    --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
    --primary: var(--primary);
    --primary-foreground: oklch(0.985 0 0);
    --background: oklch(0.147 0.004 49.25);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.216 0.006 56.043);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.216 0.006 56.043);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.923 0.003 48.717);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.268 0.007 34.298);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.709 0.01 56.259);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.tabs-jk {
    @apply h-full;
}

.tabs-jk .ant-tabs-content {
    @apply h-full;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    font-family: "Lato", sans-serif;
    @apply leading-relaxed;
}

.article h1 {
    @apply text-5xl font-bold;
}

.article h2 {
    @apply text-4xl font-bold;
}

.article h3 {
    @apply text-3xl font-bold;
}

.article h4 {
    @apply text-2xl font-bold;
}

.article h5 {
    @apply text-xl font-bold;
}

.article h6 {
    @apply text-lg font-bold;
}

.article p {
    @apply text-base font-['Roboto'] my-2 leading-relaxed;
}

.article a {
    @apply text-base font-['Roboto'] my-2 leading-relaxed text-primary hover:text-primary/90;
}

.article ul,
.article ol {
    @apply mb-4 ml-6;
}

.article ul {
    @apply list-disc;
}

.article ol {
    @apply list-decimal;
}

.article li {
    @apply my-2;
}

.article code {
    @apply font-mono text-sm bg-gray-100 px-1 py-0.5 rounded;
}

.article pre {
    @apply font-mono text-sm bg-gray-100 p-4 rounded overflow-x-auto;
}

.article img {
    @apply w-full;
}

.article strong {
    @apply font-bold;
}

.article em {
    @apply italic;
}

.article u {
    @apply underline;
}

.article hr {
    @apply border-t border-gray-300 my-4;
}

.article iframe {
    @apply w-full;
}

.article .comment-correction {
    @apply text-base bg-amber-400/70 text-amber-50 font-bold;
}

.article .comment-correction:hover {
    @apply bg-amber-500/70;
}

.article .comment-delete {
    @apply text-base bg-red-400/70 text-red-50 font-bold;
}

.article .comment-delete:hover {
    @apply bg-red-500/70;
}

.article.comment-reply {
    @apply text-base bg-blue-400/70 text-blue-50 font-bold;
}

.article.comment-reply:hover {
    @apply bg-blue-500/70;
}
